// Colors
$primaryColor: #02040E;
$textColor: white;
$textColorPop: #E5C189;
$scrollbarColorBackground: rgba(2, 4, 14, 0.8);
$scrollbarColorThumb: rgba(229, 193, 137, 0.2);
$scrollbarColorThumbHover: rgba(229, 193, 137, 0.4);

// Typography
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Luckiest+Guy&display=swap');

$fontSizeSmall: 14px;
$fontSizeNormal: 16px;
$fontSizeMedium: 20px;
$fontSizeBig: 24px;
$fontSizeHuge: 48px;
$fontSizeHuge2: 40px;
$fontSizeHugest: 60px;
$fontSizeGigantic: 70px;

// Font families
$fontFamilyLuckiestGuy: 'Luckiest Guy', cursive;
$fontFamilyDMSans: 'DM Sans', sans-serif;

// Font classes
.luckiest-guy {
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
}

.dm-sans {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}